<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.lzc.Dao.UserDao">

	<resultMap type="cn.lzc.model.User" id="result">
		<id column="id" jdbcType="INTEGER" property="id" />
		<result column="username" jdbcType="VARCHAR" property="username" />
		<result column="password" jdbcType="VARCHAR" property="password" />
		<result column="regdate" jdbcType="TIMESTAMP" property="regdate" />

	</resultMap>
	<resultMap type="cn.lzc.model.UserVip" id="resultvip">
		<id column="id" jdbcType="INTEGER" property="id" />
		<result column="user_id" jdbcType="INTEGER" property="user_id" />
		<result column="date_start" jdbcType="TIMESTAMP" property="date_start" />
		<result column="date_end" jdbcType="TIMESTAMP" property="date_end" />
		<result column="type" jdbcType="INTEGER" property="type" />
	</resultMap>

	<insert id="addUserVip" parameterType="cn.lzc.model.UserVip">
		insert ssc_vip(user_id,date_start,date_end,type)
		values(#{user_id},#{date_start},#{date_end},#{type});
	</insert>
	<update id="updateUserVip" parameterType="cn.lzc.model.UserVip">
		update ssc_vip set date_start=#{date_start},date_end=#{date_end} where id=#{id}
	</update>
	<select id="findUserVipByUserId" parameterType="int" resultMap="resultvip">
		SELECT * FROM ssc_vip where user_id=#{id}
	</select>
	<select id="findUserVipByPayDate" parameterType="cn.lzc.model.UserVip"
		resultMap="resultvip">
		SELECT * FROM ssc_vip where date_start > #{date_start} and
		#{date_end} > date_start
	</select>

	<select id="findUserVipByIdType" parameterType="cn.lzc.model.UserVip"
		resultMap="resultvip">
		SELECT * FROM ssc_vip where user_id = #{user_id} and type=
		#{type}
	</select>
	
	<select id="findUser" parameterType="cn.lzc.model.User"
		resultMap="result">
		SELECT * FROM ssc_user where username=#{username} and
		password=#{password}
	</select>
	<select id="findUserByUserName" parameterType="String"
		resultMap="result">
		SELECT * FROM ssc_user where username=#{username}
	</select>
	<select id="findUserByUserId" parameterType="int" resultMap="result">
		SELECT * FROM ssc_user where id=#{id}
	</select>

	<insert id="addUser" parameterType="cn.lzc.model.User">
		insert ssc_user(username,password,regdate)
		values(#{username},#{password},#{regdate});
	</insert>

	<update id="changeUserPassWord" parameterType="cn.lzc.model.User">
		update ssc_user set password=#{password} where id=#{id}
	</update>

<update id="changeUserNickName" parameterType="cn.lzc.model.User">
		update ssc_user set nickname=#{nickname} where id=#{id}
	</update>

</mapper>
