
/******************************* 涓讳綋鍐呭寮� ****************************/

.main_w{
	color:#505050;
	font-size:14px;
}

/* 涓讳綋澶撮儴寮� */
.ma_t .icon_c{
	width:155px;
	height:72px;
	background:url(/game/resources/images/cqssc.png) no-repeat;
	margin:16px 20px 18px;
}
/* 绂绘姇娉ㄦ埅姝㈡椂闂�*/
.time{
	width:380px;
	border-radius:6px;
	background-color:#4f96ae;
	font-size:14px;
	color:#fff;
	padding:7px 12px 5px 0;
	margin:16px 70px 0 0;
}
.time p{
	width:190px;
	line-height:25px;
	text-align:center;
	float:left;
}
.time p span{
	color:#fbff90;
	padding:0 2px;
}
.time i{
	float:left;
	width:38px;
	height:58px;
	background:url(/game/resources/images/data.png) no-repeat 0 0;
	margin-right:7px;
}
.time .data_pic2{
	background-position:-78px 0;
}
.time .data_pic3{
	width:7px;
	background:url(/game/resources/images/dott.png) no-repeat;
}
.time .data_pic4,
.time .data_pic5{
	background-position:-195px 0;
}
.zhong{
	padding:13px 23px 0 0px;
}
.zhong p{
	width:170px;
	text-align:center;
	font-size:14px;
	line-height:22px;
	border-radius:5px;
	background-color:#669fb5;
	color:#fff;
}
.zhong p span{
	color:#fbff90;
	padding:0 2px;
	letter-spacing:1px;
}
.number{
	overflow:hidden;
	padding:10px 0 15px 0;
}
.number i{
	float:left;
	width:42px;
	height:42px;
	line-height:42px;
	text-align:center;
	background:url(/game/resources/images/num.png) no-repeat 0 0;
	margin-right:10px;
	font-size:30px;
	color:#005f84;
}

.detail{
	padding-top:23px;
}
.detail a{
	display:block;
	padding:0 3px;
	color:#fff;
	border-radius:2px;
	background-color:#669fb5;
}
.detail .a2{
	margin-top:18px;
}


/* 鏃跺僵澶撮儴鍒楄〃閮ㄥ垎 */
.ma_u{
	overflow:hidden;
	font-size:14px;
	color:#505050;
	background-color:#008fc7;
}
.ma_u li{
	float:left;
	height:40px;
	position:relative;
}
.ma_u li a{
	display:block;
	line-height:40px;
	color:#fff;
	/*padding:0 19px;*/
	width:80px;
	letter-spacing:1px;
	font-weight:600;
	text-align:center;
}
.ma_u li a:hover{
	background-color:#ff6102;
}
.ma_u li i{
	position:absolute;
	left:50%;
	top:0px;
	margin-left:-38px;
	width:76px;
	height:2px;
	background-color:#5198af;
	display:none;
}


/* 瀵艰埅寮� */
.nav{
	background-color:#008fc7;
}
.nva_w a{
	display:block;
	height:40px;
	line-height:40px;
	color:#fff;
	padding:0 20px 0;
	letter-spacing:3px;
}
.nva_w a:hover{
	color:#fff;
	background-color:#ff6102;
}
.current a{
	background-color:#fff;
	color:#505050;
	border-top:2px solid #008fc7;
	height:38px;
	line-height:38px;
	padding:0 18px 0;
}
.current a:hover{
	background-color:#fff;
	color:#505050;
}
.current{
	padding:0 2px 0;
	background-color:#fff;
}

/* 閫夋嫨绉嶇被寮� */
.kind{
	padding:35px 20px 20px;
	background-color:#fff;
}
.kind .styles{
	display:none;
}
.kind .styles[is=on]{
	display:block;
}
/* 宸︿晶閮ㄥ垎 */
.kind_f{
	width:684px;
}
.kind_f>div[data-view]:nth-child(n+2){
	display: none;
}

.kind_t1{
	overflow:hidden;
	padding-bottom:15px;
	width:715px;
}
.kind_t1 span{
	float:left;
	height:22px;
	line-height:22px;
	margin-right:20px;
}
.zx{
	width:73px;
	border:1px solid #549aaf;
	text-align:center;
	cursor:pointer;
}
.cur{
	background-color:#549aaf;
	color:#fff;
}
/* 绉嶇被鏍峰紡閮ㄥ垎 */
.styles{
	margin:10px 0 0 0;
}
.fs,.ds,.zs{
	display:none;
}
.style1{
	/*height:68px;*/
	/*line-height:68px;*/
	width:715px;
	border-bottom:1px solid #bbc9d2;
}
.style1 span.sty_t{
		width:58px;
}
.style1 span,i{
	float:left;
}
.style2{
	padding:0 10px 0 46px;
}
.style2>i{
	float:left;
}
.sty_t{
	width: 28px;
	
	color:#00678f;
	margin-right:8px;
	line-height:68px;
}
/* 鏁板瓧閮ㄥ垎 */
.zxhz{
	display:none;
}
.sty_i{
	width:38px;
	height:38px;
	background:url(/game/resources/images/zxhz.png) no-repeat 0 0;
	margin:14px 10px 0 0;
	cursor:pointer;
}
.sty_i0:hover{
	background-position:0px -40px;
}
.sty_i0.style_cur{
	background-position:0px -80px;
}
.sty_i1{
	background-position:-40px 0;
}
.sty_i1:hover{
	background-position:-40px -40px;
}
.sty_i1.style_cur{
	background-position:-40px -80px;
}
.sty_i2{
	background-position:-80px 0;
}
.sty_i2:hover{
	background-position:-80px -40px;
}
.sty_i2.style_cur{
	background-position:-80px -80px;
}
.sty_i3{
	background-position:-120px 0;
}
.sty_i3:hover{
	background-position:-120px -40px;
}
.sty_i3.style_cur{
	background-position:-120px -80px;
}
.sty_i4{
	background-position:-160px 0;
}
.sty_i4:hover{
	background-position:-160px -40px;
}
.sty_i4.style_cur{
	background-position:-160px -80px;
}
.sty_i5{
	background-position:-200px 0;
}
.sty_i5:hover{
	background-position:-200px -40px;
}
.sty_i5.style_cur{
	background-position:-200px -80px;
}
.sty_i6{
	background-position:-240px 0;
}
.sty_i6:hover{
	background-position:-240px -40px;
}
.sty_i6.style_cur{
	background-position:-240px -80px;
}
.sty_i7{
	background-position:-280px 0;
}
.sty_i7:hover{
	background-position:-280px -40px;
}
.sty_i7.style_cur{
	background-position:-280px -80px;
}
.sty_i8{
	background-position:-320px 0;
}
.sty_i8:hover{
	background-position:-320px -40px;
}
.sty_i8.style_cur{
	background-position:-320px -80px;
}
.sty_i9{
	background-position:-360px 0;
}
.sty_i9:hover{
	background-position:-360px -40px;
}
.sty_i9.style_cur{
	background-position:-360px -80px;
}
.sty_i10{
	background-position:-400px 0;
}
.sty_i10:hover{
	background-position:-400px -40px;
}
.sty_i10.style_cur{
	background-position:-400px -80px;
}
.sty_i11{
	background-position:-440px 0;
}
.sty_i11:hover{
	background-position:-440px -40px;
}
.sty_i11.style_cur{
	background-position:-440px -80px;
}
.sty_i12{
	background-position:-480px 0;
}
.sty_i12:hover{
	background-position:-480px -40px;
}
.sty_i12.style_cur{
	background-position:-480px -80px;
}
/* 绗簩琛�*/
.sty_i13{
	background-position:-520px 0;
}
.sty_i13:hover{
	background-position:-520px -40px;
}
.sty_i13.style_cur{
	background-position:-520px -80px;
}
.sty_i14{
	background-position:-560px 0;
}
.sty_i14:hover{
	background-position:-560px -40px;
}
.sty_i14.style_cur{
	background-position:-560px -80px;
}
.sty_i15{
	background-position:-600px 0;
}
.sty_i15:hover{
	background-position:-600px -40px;
}
.sty_i15.style_cur{
	background-position:-600px -80px;
}
.sty_i16{
	background-position:-640px 0;
}
.sty_i16:hover{
	background-position:-640px -40px;
}
.sty_i16.style_cur{
	background-position:-640px -80px;
}
.sty_i17{
	background-position:-680px 0;
}
.sty_i17:hover{
	background-position:-680px -40px;
}
.sty_i17.style_cur{
	background-position:-680px -80px;
}
.sty_i18{
	background-position:-720px 0;
}
.sty_i18:hover{
	background-position:-720px -40px;
}
.sty_i18.style_cur{
	background-position:-720px -80px;
}
.sty_i19{
	background-position:-760px 0;
}
.sty_i19:hover{
	background-position:-760px -40px;
}
.sty_i19.style_cur{
	background-position:-760px -80px;
}
.sty_i20{
	background-position:-800px 0;
}
.sty_i20:hover{
	background-position:-800px -40px;
}
.sty_i20.style_cur{
	background-position:-800px -80px;
}
.sty_i21{
	background-position:-840px 0;
}
.sty_i21:hover{
	background-position:-840px -40px;
}
.sty_i21.style_cur{
	background-position:-840px -80px;
}
.sty_i22{
	background-position:-880px 0;
}
.sty_i22:hover{
	background-position:-880px -40px;
}
.sty_i22.style_cur{
	background-position:-880px -80px;
}
.sty_i23{
	background-position:-920px 0;
}
.sty_i23:hover{
	background-position:-920px -40px;
}
.sty_i23.style_cur{
	background-position:-920px -80px;
}
.sty_i24{
	background-position:-960px 0;
}
.sty_i24:hover{
	background-position:-960px -40px;
}
.sty_i24.style_cur{
	background-position:-960px -80px;
}
.sty_i25{
	background-position:-1000px 0;
}
.sty_i25:hover{
	background-position:-1000px -40px;
}
.sty_i25.style_cur{
	background-position:-1000px -80px;
}
.sty_i26{
	background-position:-1040px 0;
}
.sty_i26:hover{
	background-position:-1040px -40px;
}
.sty_i26.style_cur{
	background-position:-1040px -80px;
}
.sty_i27{
	background-position:-1080px 0;
}
.sty_i27:hover{
	background-position:-1080px -40px;
}
.sty_i27.style_cur{
	background-position:-1080px -80px;
}





/* 濂囧伓鏁伴儴鍒�*/
.sty_s1{
	width:21px;
	height:21px;
	line-height:21px;
	border:1px solid #fff;
	margin:21px 5px 0 0;
	text-align:center;
	cursor:pointer;
}
.sty_s1:hover{
	border-color:#549aaf;
}
.curr{
	background-color:#549aaf;
	color:#fff;
}

.btn{
	padding:30px 0;
}
.btnA{
	cursor:pointer;
	display:block;
	width:160px;
	height:40px;
	line-height:40px;
	margin:0 auto;
	font-size:20px;
	text-align:center;
	color:#fff;
	background:url(/game/resources/images/btn.png) no-repeat 0 0;
	letter-spacing:2px;
}
.btnA:hover{
	background-position:0 -42px;
	color:#fff;
}

/* 鍙充晶閮ㄥ垎 */
.kind_r{
	width:240px;
	border:1px solid #bbc9d2;
	background-color:#fff;
}
.kind_r>p{
	height:36px;
	line-height:36px;
	background-color:#d6e2ea;
	letter-spacing:2px;
}
.kind_r>p>.span1{
	display:inline-block;
	width:106px;
	text-align:center;
}
.kind_r>p>.span2{
	display:inline-block;
	width:130px;
	text-align:center;
}
.kind_u>li{
	height:32px;
	/*line-height:32px;*/
	border-bottom:1px dashed #bbc9d2;
	padding:0 8px;
}
.kind_u>li:hover{
	background-color:#f3f4f4;
}
.kind_u>li>span{
	float:left;
}
.li_s1{
	margin:0 22px 0 5px;
	line-height:32px;
	
}
.li_s1:after{
	content:" 期";
}
.li_s2{
	width:20px;
	height:20px;
	text-align:center;
	background:url(/game/resources/images/kai_num.png) no-repeat 0 0;
	margin:5px 4px 0 0;
	color:#fff;
}
.li_s3{
	background-position:0 -22px;
	color:#505050;
}
.li_ss{
	background:none;
	color:#ff6102;
}
.look{
	display:block;
	text-align:center;
	line-height:42px;
}
.look:hover{
	color:#505050;
	text-decoration:underline;
}

/* 鍗曞紡閮ㄥ垎 */
.enter{
	display:block;
	width:95px;
	height:30px;
	line-height:30px;
	text-align:center;
	background:url(/game/resources/images/ds_btn.png) no-repeat 0 0;
	position: relative;
}
.enter input{
	cursor:pointer;
	position: absolute;
	left:0px;
	opacity: 0;
    width: 94px;
    line-height: 30px;
}
.enter:hover{
	color:#505050;
}
.text{
	width:678px;
	height:180px;
	border:1px solid #549aaf;
	background-color:#f3f4f4;
	padding:5px;
	margin:15px 0 0 0;
	position:relative;
}
.text>textarea{
	height:160px;
	width:650px;
	border:1px solid #549aaf;
	padding:10px;
	color:#999;
	position:relative;
	z-index:2;
	font-size:14px;
	background:none;
}
.bg{
	position:absolute;
	left:6px;
	top:6px;
	background-color:#fff;
	width:670px;
	height:180px;
}
.txt{
	position:absolute;
	left:22px;
	top:22px;
	color:#999;
	font-size:12px;
}
.txt>p{
	line-height:25px;
}
.txt>.p1{
	margin-top:10px;
}
.ds_btn{
	margin-top:15px;
	height:30px;
	line-height:30px;
}
.ds_btn>a:hover{
	color:#505050;
}
.error{
	width:127px;
	height:30px;
	text-align:center;
	background:url(/game/resources/images/ds_btn.png) no-repeat 0 -32px;
}
.del{
	width:95px;
	height:30px;
	text-align:center;
	background:url(/game/resources/images/ds_btn.png) no-repeat 0 -64px;
	margin-left:20px;
}




/* 鏄剧ず鍒楄〃寮� */
.lists{
	padding:0 20px 35px;	
	background-color:#fff;
}
.list{
	border:1px solid #549aaf;
	background-color:#fff;
}
.list>p{
	height:36px;
	line-height:36px;
	padding-left:20px;
	font-weight:700;	
}
.list>p>span{
	padding-right:12px;
}

.tr1{
	height:32px;
	line-height:32px;
	background-color:#d6e2ea;
}
.tr1>td{
	text-align:center;
	letter-spacing:2px;
}
.tr1>.td1{
	width:253px;
}
.tr1>.td2{
	width:228px;
}
.tr1>.dash{
	border-bottom:1px dashed #999;
}
.tr1>.td3{
	width:255px;
}
.tr1>.td4{
	width:222px;
}
.tr3{
	height:40px;
	line-height:40px;
	border-bottom:1px dashed #549aaf;
}
.tr2{
	background-color:#fff;
	border-bottom:1px dashed #549aaf;
}
.tr2:hover{
	background-color:#f3f4f4;
}
.colors{
	color:#ff6102;
}



/* 鍐风儹鍒嗗竷鍥炬牱寮忛儴鍒�*/
/* 浣嶇疆閮ㄥ垎 */
.txt_i{
	width:40px;
	height:40px;
	background:url(/game/resources/images/txt.png) no-repeat 0 0;
	margin:15px 12px 0 0px;
	cursor:pointer;
}
.txt_i0:hover{
	background-position:0 -42px;
}
.txt_i0.txt_cur{
	background-position:0px -84px;
}
.txt_i1{
	background-position:-42px 0px;
}
.txt_i1:hover{
	background-position:-42px -42px;
}
.txt_i1.txt_cur{
	background-position:-42px -84px;
}
.txt_i2{
	background-position:-84px 0px;
}
.txt_i2:hover{
	background-position:-84px -42px;
}
.txt_i2.txt_cur{
	background-position:-84px -84px;
}
.txt_i3{
	background-position:-126px 0px;
}
.txt_i3:hover{
	background-position:-126px -42px;
}
.txt_i3.txt_cur{
	background-position:-126px -84px;
}
.txt_i4{
	background-position:-168px 0px;
}
.txt_i4:hover{
	background-position:-168px -42px;
}
.txt_i4.txt_cur{
	background-position:-168px -84px;
}

.sty_s2{
	width:42px;
	height:22px;
	line-height:22px;
	text-align:center;
	border:1px solid #fff;
	margin:23px 4px 0 0;
	cursor:pointer;
}
.sty_s2:hover{
	border-color:#549aaf;
}
.currs{
	background-color:#549aaf;
	color:#fff;
}

/* 鏈熷彿閮ㄥ垎 */
.num_i{
	width:85px;
	height:35px;
	background:url(/game/resources/images/qihao.png) no-repeat 0 0;
	margin:16px 12px 0 0px;
	cursor:pointer;
}
.num_i0:hover{
	background-position:0 -37px;
}
.num_i0.num_cur{
	background-position:0px -74px;
}
.num_i1{
	background-position:-87px 0px;
}
.num_i1:hover{
	background-position:-87px -37px;
}
.num_i1.num_cur{
	background-position:-87px -74px;
}
.num_i2{
	background-position:-174px 0px;
}
.num_i2:hover{
	background-position:-174px -37px;
}
.num_i2.num_cur{
	background-position:-174px -74px;
}
.num_i3{
	background-position:-261px 0px;
}
.num_i3:hover{
	background-position:-261px -37px;
}
.num_i3.num_cur{
	background-position:-261px -74px;
}
.num_i4{
	background-position:-348px 0px;
}
.num_i4:hover{
	background-position:-348px -37px;
}
.num_i4.num_cur{
	background-position:-348px -74px;
}
.rq{
	float:left;
	height:26px;
	padding:20px 0 30px 0;
}
.rq>input{
	float:left;
	width:172px;
	height:24px;
	line-height:24px;
	border:1px solid #549aaf;
	/*padding:3px 0 2px 10px;*/
	color:#666;
	text-align:center;
}
.rq>span{
	float:left;
	padding:0 5px;
	line-height:26px;
}